@font-face {
   font-family: "Open Sans";
   font-weight: 700;
   src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
   font-family: "Open Sans";
   font-weight: 600;
   src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
   font-family: "Play";
   font-weight: 700;
   src: url("../fonts/Play-Bold.ttf");
}
